<!--/ footer Star /-->
<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Jiheon Lee</h3>
          </div>
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Email .</span>
                wlgjsdl0@gmail.com
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Connect</h3>
          </div>
          <div class="w-body-a">
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i>
                  <a
                    href="https://www.notion.so/2065e04ddc9543e7be1621119e6f6b14"
                    >Notion</a
                  >
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i>
                  <a href="https://github.com/Jiheon-Lee">GitHub</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i>
                  <a
                    href="https://www.youtube.com/channel/UCAFyIs7aqPcvMyYSRPu6lqw?view_as=subscriber"
                    >YouTube</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Used Skill Stack</h3>
          </div>
          <div class="w-body-a">
            <ul class="list-unstyled">
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> Node.js
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> Express
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> MySQL
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="nav-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="/">Home</a>
            </li>
            <li class="list-inline-item">
              <a href="/products">Product</a>
            </li>
            <li class="list-inline-item">
              <a href="/auth/login">Login</a>
            </li>
          </ul>
        </nav>
        <div class="socials-a">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/2zheon/">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/2z__heon/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                href="https://www.youtube.com/channel/UCAFyIs7aqPcvMyYSRPu6lqw?view_as=subscriber"
              >
                <i class="fab fa-youtube" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/Jiheon-Lee">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; Copyright
            <span class="color-a">Jiheon-Lee</span> All Rights Reserved.
          </p>
        </div>
        <div class="credits">
          <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
            -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/ Footer End /-->
