<div class="click-closed"></div>
<!--/ Form Search Star /-->
<div class="box-collapse">
  <div class="title-box-d">
    <h3 class="title-d">Search Product</h3>
  </div>
  <span class="close-box-collapse right-boxed ion-ios-close"></span>
  <div class="box-collapse-wrap form">
    <form class="form-a" method="GET" action="/products/search">
      <div class="row">
        <div class="col-md-12 mb-2">
          <div class="form-group">
            <label for="keyword">Keyword</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-a"
              placeholder="Keyword"
              name="keyword"
            />
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="brand">Brand</label>
            <select
              class="form-control form-control-lg form-control-a"
              id="brand"
              name="brand"
            >
              <option value="all" selected>All Brand</option>
              <% for (brand of brands) { %>
              <option value="<%= brand.id %>"><%= brand.name %></option>
              <% } %>
            </select>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="category">Category</label>
            <select
              class="form-control form-control-lg form-control-a"
              id="city"
              name="category"
            >
              <option value="all" selected>All Category</option>
              <% for (category of categories) { %>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% } %>
            </select>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="type">Type</label>
            <select
              class="form-control form-control-lg form-control-a"
              id="bedrooms"
              name="type"
            >
              <option value="all" selected>All Type</option>
              <option value="남녀공용">남녀공용</option>
              <option value="남성용">남성용</option>
              <option value="여성용">여성용</option>
            </select>
          </div>
        </div>
        <!-- <div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="garages">Garages</label>
            <select
              class="form-control form-control-lg form-control-a"
              id="garages"
            >
              <option>Any</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="bathrooms">Bathrooms</label>
            <select
              class="form-control form-control-lg form-control-a"
              id="bathrooms"
            >
              <option>Any</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="price">Min Price</label>
            <select
              class="form-control form-control-lg form-control-a"
              id="price"
            >
              <option>Unlimite</option>
              <option>$50,000</option>
              <option>$100,000</option>
              <option>$150,000</option>
              <option>$200,000</option>
            </select>
          </div>
        </div> -->
        <div class="col-md-12">
          <button type="submit" class="btn btn-b">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--/ Form Search End /-->
