<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>ShoesShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Responsive bootstrap 4 admin template" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/img/favicon.png" />

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="/css/login.css" rel="stylesheet" type="text/css" />
    <!-- login css -->
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent" class="p-5">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first mb-5">
          <!-- <img src="/img/about-1.jpg" id="icon" alt="User Icon" /> -->
          <h1>Login</h1>
        </div>

        <!-- Login Form -->
        <form action="/auth/login" method="POST">
          <input
            type="text"
            id="login"
            class="fadeIn second"
            name="id"
            placeholder="ID"
          />
          <input
            type="password"
            id="password"
            class="fadeIn third"
            name="pw"
            placeholder="Password"
          />
          <input type="submit" class="fadeIn fourth" value="Log In" />
        </form>

        <!-- Remind Passowrd -->
        <!-- <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div> -->

        <a href="/">Home</a>
        <span class="ml-3 mr-3">|</span>
        <a href="#">Sign up</a>
      </div>
    </div>
    <% if (message.length > 0) { %>
    <script>
      alert('<%= message %>')
    </script>
    <% } %>
  </body>
</html>
