<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./common/head-meta %>
    <!-- Table datatable css -->
    <link
      href="/assets/libs/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/libs/datatables/responsive.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/libs/datatables/buttons.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/libs/datatables/fixedHeader.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/libs/datatables/scroller.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/libs/datatables/dataTables.colVis.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/libs/datatables/fixedColumns.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <!-- Begin page -->
    <div id="wrapper">
      <% include ./common/leftbar %>
      <!-- ============================================================== -->
      <!-- Start Page Content here -->
      <!-- ============================================================== -->

      <div class="content-page">
        <div class="content">
          <!-- Start Content-->
          <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
              <div class="col-12">
                <div class="page-title-box">
                  <h4 class="page-title">브랜드 추가</h4>
                </div>
              </div>
            </div>
            <!-- end page title -->

            <div class="row">
              <div class="col-sm-12">
                <div class="card-box table-responsive">
                  <form action="/admin/brands/add" method="POST">
                    <div class="col-4 mb-5">
                      <label class="mr-2" for="b_id">브랜드명 : </label>
                      <input
                        type="text"
                        name="b_name"
                        placeholder="브랜드명을 입력해 주세요."
                        style="width: 215px; text-align: center"
                      />
                    </div>
                    <div class="ml-2">
                      <button
                        type="submit"
                        style="border: 0; width: 100px; height: 30px"
                      >
                        저장하기
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- end container-fluid -->
        </div>
        <!-- end content -->

        <!-- Footer Start -->
        <% include ./common/footer %>
        <!-- end Footer -->
      </div>

      <!-- ============================================================== -->
      <!-- End Page content -->
      <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <% include ./common/foot-meta %>

    <!-- Datatable plugin js -->
    <script src="/assets/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="/assets/libs/datatables/dataTables.responsive.min.js"></script>
    <script src="/assets/libs/datatables/responsive.bootstrap4.min.js"></script>

    <script src="/assets/libs/datatables/dataTables.buttons.min.js"></script>
    <script src="/assets/libs/datatables/buttons.bootstrap4.min.js"></script>

    <script src="/assets/libs/datatables/buttons.html5.min.js"></script>
    <script src="/assets/libs/datatables/buttons.print.min.js"></script>

    <script src="/assets/libs/datatables/dataTables.keyTable.min.js"></script>
    <script src="/assets/libs/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="/assets/libs/datatables/dataTables.scroller.min.js"></script>
    <script src="/assets/libs/datatables/dataTables.fixedColumns.min.js"></script>

    <script src="/assets/libs/jszip/jszip.min.js"></script>
    <script src="/assets/libs/pdfmake/pdfmake.min.js"></script>
    <script src="/assets/libs/pdfmake/vfs_fonts.js"></script>

    <!-- Datatables init -->
    <script src="/assets/js/pages/datatables.init.js"></script>
  </body>
</html>
