<!-- Topbar Start -->
<div class="navbar-custom">
  <!-- LOGO -->
  <div class="logo-box">
    <a href="/admin" class="logo text-center">
      <span class="logo-lg">
        <!-- <img src="/assets/images/LOGO.png" alt="" height="18" /> -->
        <span class="logo-lg-text-light">Shoe Store</span>
      </span>
      <span class="logo-sm">
        <span class="logo-sm-text-dark">S</span>
        <!-- <img src="/assets/images/LOGO.png" alt="" height="24" /> -->
      </span>
    </a>
  </div>
  <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
    <li>
      <button class="button-menu-mobile waves-effect">
        <i class="mdi mdi-menu"></i>
      </button>
    </li>
  </ul>
</div>
<!-- end Topbar -->
<div class="left-side-menu">
  <div class="slimscroll-menu">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <ul class="metismenu" id="side-menu">
        <li class="menu-title">메뉴</li>

        <!-- <li>
          <a href="/admin" class="waves-effect waves-light">
            <i class="mdi mdi-view-dashboard"></i>
            <span class="badge badge-success badge-pill float-right">2</span>
            <span> 대시보드 </span>
          </a>
        </li> -->

        <li>
          <a href="javascript: void(0);" class="waves-effect waves-light">
            <i class="far fa-address-book"></i>
            <span> 사용자 관리 </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="nav-second-level" aria-expanded="false">
            <li><a href="/admin/users">사용자 정보</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="waves-effect waves-light">
            <i class="fas fa-tags"></i>
            <span> 브랜드 관리 </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="nav-second-level" aria-expanded="false">
            <li><a href="/admin/brands">브랜드 정보</a></li>
            <li><a href="/admin/brands/add">브랜드 추가</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="waves-effect waves-light">
            <i class="fas fa-shopping-cart"></i>
            <span> 상품 관리 </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="nav-second-level" aria-expanded="false">
            <li>
              <a href="/admin/products">상품 정보</a>
            </li>
            <li>
              <a href="/admin/products/add">상품 추가</a>
            </li>
            <li>
              <a href="/admin/products/details">재고 정보</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript: void(0);" class="waves-effect waves-light">
            <i class="fas fa-clipboard"></i>
            <span> 주문 관리 </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="nav-second-level" aria-expanded="false">
            <li>
              <a href="/admin/orders">주문 정보</a>
            </li>
            <li><a href="/admin/orders/details">주문 상세 정보</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->
